#delete-button {
    margin-top: 0px;
    border-radius: 10px;
    height: 39px;
    width: 80px;
    font-size: 16px;
    padding: 0px;
}

#change-button {
    border-radius: 10px;
    margin-right: 0px;
}

#save-button {
    border-radius: 10px;
    margin-right: 0px;
    width: 114px;
}

#checkbox{
    margin-top: 8px;
    height: 20px;
    width: 25px;
}

#checkbox:checked{
    accent-color: rgb(109, 191, 86);
}

body{
    background-color: rgb(243, 243, 243);
}


#taskTitle {
    margin-top: 40px;
}

#loginTitle {
    margin-top: 40px;
}

#searchTitle {
    margin-top: 40px;
}

#searchTask-container{
    margin-top: 40px;
}

#changeName {
    width: 60%;
}



